footer {
  display: flex;
  justify-content: center;
  /* word-spacing: 2em; */
  padding-top: 110px;
  font: var(--primary-font-family);
  width: 100%;
  text-decoration: none;
}

footer img {
  width: 32px;
  height: 32px;
  color: #7d8590;
}

footer a {
  color: #2f81f7;
  font: var(--primary-font-family);
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  
}
footer p {
  color: #7d8590;
  font-family: var(--primary-font-family);
  font-size: 12px;
}
