.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #161b22;
  font: var(--primary-font-family);
  text-decoration: none;
  justify-content: space-between;
}
header img {
  width: 32px;
  height: 32px;
}
header input {
  width: 250px;
  font-size: 14px;
  left: 10px;
  left: 4%;
  border-radius: 5px;
}

nav {
  align-self: auto;
  left: 26%;
}
.header1left {
    display: flex; 
    float: left; 
}
header a {
  color: #f0f6fc;
  font: var(--primary-font-family);
  font-weight: 500;
  font-size: 12px;
  margin-left: 18px;
  text-decoration: none;
}
.header2 {
  display: flex;
  justify-content: center;
  font: var(--primary-font-family);
  margin-left: 12px;
  box-sizing: border-box;
  left: 35%;
  padding: 20px;
  border-bottom: 1px #21262d solid;
}

.header2 a {
  color: #f0f6fc;
  font: var(--primary-font-family);
  font-weight: 500;
  font-size: 12px;
  padding: 8px;
  text-decoration: none;
}
.header1right img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
