:root {
  --primary-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  --primary-black: #0d1116;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-black);
 
}

input {
  background-color: #0d1116;
  left: 500px;
  width: 450px;
}

.find-respository {
  display: flex;
  font-size: 14px;
  background-color: #161b22;
  font-size: 14px;
  font-family: var(--primary-font-family);
  padding-bottom: 15px;
  
  
 
}
select {
  background-color: #161b22;
  font-size: 12px;
  color: #f0f6fc;
  font-family: var(--primary-font-family);
 
}
button {
  background-color: #0d1116;
  border-radius: 5px;
  color: white;
}
